<div class="timeline-badge primary"><i class="glyphicon glyphicon-play"></i></div>
<div class="timeline-panel">
    <div class="timeline-heading">
        <h4 class="timeline-title">{{loading.location.name}} <small class="text-muted"> Pick-up location </small></h4>
        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{loading.readings[0].reading | date:'long' }} </small></p>
    </div>
</div>
