/* Timeline */
.timeline-badge {
    color: #fff;
    width: 54px;
    height: 54px;
    line-height: 52px;
    font-size: 22px;
    text-align: center;
    position: absolute;
    top: 18px;
    left: 50%;
    margin-left: -25px;
    background-color: #333;
    border: 3px solid #ffffff;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  .timeline-badge i,
  .timeline-badge .fa,
  .timeline-badge .glyphicon {
    top: 2px;
    left: 0px;
  }
  .timeline-badge.primary {
    background-color: #1f9eba;
  }
  .timeline-panel {
    position: relative;
    width: 40%;
    float: left;
    right: 16px;
    border: 1px solid #777;
    background: #ffffff;
    border-radius: 2px;
    padding: 10px 20px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  }
  .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -16px;
    display: inline-block;
    border-top: 16px solid transparent;
    border-left: 16px solid #777;
    border-right: 0 solid #777;
    border-bottom: 16px solid transparent;
    content: " ";
  }
  .timeline-panel .timeline-title {
    margin-top: 0;
    color: inherit;
  }
  .timeline-panel .timeline-body > p,
  .timeline-panel .timeline-body > ul {
    margin-bottom: 0;
  }
  .timeline-panel .timeline-body > p + p {
    margin-top: 5px;
  }
  
  .timeline-panel {
    top: auto;
    bottom: 64px;
    display: inline-block;
    float: none !important;
    left: 0 !important;
    right: 0 !important;
    width: 100%;
    margin-bottom: 20px;
  }
  .timeline-panel:before {
    top: auto;
    bottom: -16px;
    left: 28px !important;
    right: auto;
    border-right: 16px solid transparent !important;
    border-top: 16px solid #777 !important;
    border-bottom: 0 solid #777 !important;
    border-left: 16px solid transparent !important;
  }
  .timeline-badge {
    top: auto;
    bottom: 0px;
    left: 43px;
  }
  