<div class="timeline-badge"><i class="glyphicon glyphicon-stop"></i></div>
<div class="timeline-panel">
    <div class="timeline-heading">
        <h4 class="timeline-title">{{discharge.location.name}} <small class="text-muted"> Drop-off location </small></h4>
        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{discharge.readings[0].reading | date:'long'  }} </small></p>
    </div>
</div>
