<ng-container *ngIf="status=='loading'">
    <h1 class="text-center">loading...</h1>
</ng-container>

<ng-container *ngIf="status=='error'">
    <h1 class="text-center">error</h1>
</ng-container>
    

<ng-container *ngIf="status=='success'">
    <div>
        <h3 class="text-center">{{shipment.id}} -- {{shipment.name}}</h3>
    </div>
    <div style="overflow-y:auto;">
        <ul class="timeline timeline-horizontal">
    
            <ng-container *ngFor="let sea_shipment of shipment.sea_shipments">
                <!-- sea_movements -->
                <ng-container *ngFor="let movement of sea_shipment.sea_movements">
                    <li class="timeline-item">
                        <app-vessel-loading [loading]="movement.vessel_telo_loading"></app-vessel-loading>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-panel" >
                            <p><b>Carrier:</b> {{ sea_shipment.carrier.name }}</p>
                            <p><b>B/L:</b> {{ sea_shipment.bill_of_lading_reference }}</p>
                            <p><b>Booking reference:</b> {{ sea_shipment.booking_reference }}</p>
                        </div>
                    </li>    
                    <li class="timeline-item">
                        <app-vessel-discharge [discharge]="movement.vessel_telo_discharge"></app-vessel-discharge>
                    </li>
                </ng-container>
                <!-- end sea_movements -->
            </ng-container>
    
        </ul>
    </div>    
</ng-container>
    
