/* Timeline */
.timeline,
.timeline-horizontal {
  list-style: none;
  padding: 20px;
  position: relative;
  border: #00a0f7 solid 1px
}
.timeline:before {
  top: 40px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline .timeline-item {
  margin-bottom: 20px;
  position: relative;
}
.timeline .timeline-item:before,
.timeline .timeline-item:after {
  content: "";
  display: table;
}
.timeline .timeline-item:after {
  clear: both;
}

.timeline .timeline-item .timeline-panel {
  position: relative;
  width: 46%;
  float: left;
  right: 16px;
  border: 1px solid #ddd;
  background: #eee;
  border-radius: 2px;
  padding: 5px 20px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline-horizontal {
  list-style: none;
  position: relative;
  padding: 0px 0px 20px 20px;
  display: inline-block;
}
.timeline-horizontal:before {
  height: 20px;
  top: auto;
  bottom: 16px;
  left: 56px;
  right: 0;
  width: 95%;
  margin-bottom: 20px;
  background-color: #00a0f7
}
.timeline-horizontal .timeline-item {
  display: table-cell;
  height: 200px;
  width: 15%;
  min-width: 300px;
  float: none !important;
  padding-left: 0px;
  padding-right: 20px;
  margin: 0 auto;
  vertical-align: bottom;
}
.timeline-horizontal .timeline-item .timeline-panel {
  top: auto;
  bottom: 64px;
  display: inline-block;
  float: none !important;
  left: 0 !important;
  right: 0 !important;
  width: 100%;
  margin-bottom: 00px;
}